[Unit]
Description=Linux System Performance and Status Monitor Publisher
Documentation=man:system_monitor(1)

[Service]
Type=simple
ExecStart=/usr/bin/system_monitord -c /etc/sensors/system_monitor.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target

